.eligibility-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 93vh;
}
.eligibility-page h2{
    color: blue;
    font-size: 30px;
    font-weight: bolder;
}
.eligibility-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    padding: 3vh;
}
.eligibility-user-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.eligibility-user-info input{
    padding: 3px;
    height: 4vh;
    width: 95%;
}
.eligibility-rules{
    margin: 3vh;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.eligibility-rules textarea{
    width: 95%;
    padding: 8px;
}
.submit-button-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 20vh;
    height: 15vh;
}
.submit-button{
    width: 14vw;
    height: 5vh;
    padding: 3px;
    background-color: #00796b;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-button:hover {
    background-color: blue;
}